body
{
	background: #ddc050;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	width: 1440px;
	margin: auto;
}

.normal{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.bold{
    font-weight: bold;
}

.image{
    float: left;
    padding: 2%;
    width: 300px
}

.imageright{
    float: right;
    padding: 2%;
    width: 300px
}

.footer{
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey   
}
/* Nav Bar Menu */
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(10, 173, 92);
  }